<!DOCTYPE html>
<html lang="en">

<head>
    <script src="userActivityTracker.js" type='text/javascript'></script>
    <style>
        @import'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
        @import'https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js';
        @import'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js';

        body {
            background-color: white;
            font-family: sans-serif;

        }

        a {
            text-decoration: none;
            color: black;
        }

        .btn {
            width: 100px;
            border-style: solid;
            border-radius: 45%;
            color: white;
            background-color: #DA70D6;
        }

        .buttonl {
            text-decoration: none;
        }

        .navbar {
            background-color: white;
            box-shadow: 0 2px 2px -2px rgba(128, 128, 128, 0.808);
            padding-bottom: 0px;
        }

        .desc {
            margin-top: 10%;
            margin-left: 2%;
        }

        .text1 {
            color: #DA70D6;
            font-weight: 700;
        }

        .detail {
            color: #a4adb8;
        }

        .btn-submit {
            border-radius: 50px;
            border: none;
            height: 35px;
            width: 120px;
            font-size: 14px;
            font-weight: 500;
            background-color: #DA70D6;
            color: #fff;
            font-weight: 500;
            margin-left: 15%;

        }

        .accuiel {
            position: absolute;
            top: 40%;
            width: 40%;
            margin-left: 55%;
            margin-top: calc(-10%);
        }

        .card1 {
            margin-left: 5%;
        }
    </style>

</head>

<body>
    <nav id="mainNavbar" class="navbar navbar-expand-md py-0 fixed-top fixed-left bg-white">
        <br><br><br><br>
        <a href="#" class="navbar-brand"><img class="logo" width="18%" src="./img/logo.png"></a>
        <div class="collapse navbar-collapse" id="navLinks">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="" onclick="" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Services</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Contacts</a>
                </li>

                <div class="my-button container">
                    <a class="buttonl" href="/inscrire">
                        <button class="btn btn-raised shadow my-button w-xs bg-purpule btn-submit">Commencer</button>
                    </a>
                </div>
            </ul>
        </div>
    </nav>

    <div class="desc py-4 align-items-center">
        <div class="card1 mt-3 p-3 g-2">
            <div class="mt-3">
                <h2 class="text1">Plateforme d'Analyse d'Audience<br>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
                    pour les Sites Web
                </h2>
            </div>

            <div class="detail mt-5">
                <small>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    TrackMySite est une plateforme en ligne qui offre un suivi détaillé et une analyse<br>

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    approfondie des performances des sites web, y compris le trafic, les conversions,<br>

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    le référencement et le contenu, avec la possibilité de créer des rapports<br>

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    personnalisés et des intégrations avec d'autres outils populaires.</small>
            </div><br><br><br>

            <a class="buttonl" href="/inscrire">
                <button class="btn-submit">Commencer</button>
            </a>
        </div>
        <img class="accuiel" src="./img/accuiel.avif">
    </div>

</body>

</html>