<html>

<head>
    <script src="userActivityTracker.js" type='text/javascript'></script>
    <style>
        * {

            margin: 0;
            padding: 0;
        }

        .partiehaut {
            background-color: black;
        }

        .partiebas {
            border: 2px solid red;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <div class="partiehaut">
        bbbbbbbbbbb
    </div>

    <div class="partiebas">

        <a href="/dashboard" data-abc="true">
            <button type="submit" class="edit">
                <i class="fa fa-pencil-square-o fa-pencil" aria-hidden="true"></i>
                Ok
            </button>
        </a>
    </div>
</body>

</html>